
/* Selecteur par class. Le "." en css correspond à class en html */
.col {
    /* Les 3 propriétés de block */
    border: 5px solid black;
    border-radius: 0;
    padding: 2%;
    
    margin: 40px 30px 20px 10px;/* 40 en haut, 30 à droite ...  */
    margin: 20px 20px; /* 40 en haut et en bas, 20 à gauche et à droite */
    margin: 2%;/* 10px partout autour de ma boîte */
    background-color: #ccc;
    /* Explication sur les propriétés de dimension */
    width: 96%;
    box-sizing: border-box;
}

/* Sélecteur par id. Le "#" en css correpond à id en html */
#col-1 {
    border-color: red;
}
#col-2 {
    border-color: violet;
}
#col-3 {
    border-color: blueviolet;
}
#col-4 {
    border-color: green;
}

